{% set hash =  "$6$Mj7jZ6K7$YFmGnY6bxnDKQJXJA3gXuCaVXPE4V8IV8mInSeDY7EI9QF7RV5jk/U8QCIST6ioTU1Mw8hdS0Qk0keqKRGtYR0" %}
{% set peter_hash = "$6$ibKgP0Q6$NhsnM.EApWp4qY2SgaTzkmjWt76tAzLQ9.LVDJdMp9BT8xlau.BCNDy15nONLfGahlsagG34BF..ok1cyjn/30"%}
system {
    host-name {{ hostname }};
    domain-name honeybadgers.lab;
    root-authentication {
        encrypted-password {{ hash }} ; ## SECRET-DATA
    }
    login {
        user netlaw {
            uid 2001;
            class super-user;
            authentication {
                encrypted-password {{ hash }} ; ## SECRET-DATA
            }
        }
        user peter {
            uid 2002;
            class super-user;
            authentication {
                encrypted-password {{ peter_hash }}; ## SECRET-DATA
            }
        }
    }
    services {
        ssh {
            root-login deny;
        }
    }
    syslog {
        user * {
            any emergency;
        }
        file messages {
            any notice;
            authorization info;
        }
        file interactive-commands {
            interactive-commands any;
        }
    }

}
{% include 'interfaces.j2' %}

{% include 'vlans.j2' %}

{% include 'protocols.j2' %}