interfaces {
{% for item in ip_interfaces %}
    {{ item.name }} {
        unit {{ item.unit }} {
            family inet {
                address {{ item.ip }} {{item.mask}};
                no-redirects;
                description {{ item.description }};
            }
        }
    }
{% endfor %}
{% for item in vlans if 'DN' in hostname  %}
    irb {
        unit {{ CN }}{{ item.id }} {
            family inet {
                address 10.{{ CN[-1] }}.{{ item.id }}/24;
                no-redirects;
                description "layer 3 interface for vlan {{ CN }}_{{ item.name }} {{ CN[-1] }}{{ item.id}}"
            }
        }
{% endfor %}
{% for item in trunk_ports %}
    {{ item.name }} {
        unit 0 {
            family ethernet-switching {
                native-vlan-id 666;
                port-mode trunk;
                vlan {
                    members [ {% for vlan in vlans %}{{ vlan.name }}{% if (not loop.last) %} {% endif %} {% endfor %}];
                }
            }
        }
    }
{% endfor %}
{% for item in access_ports %}
    {{ item.name }} {
        disable;
        unit 0 {
            family ethernet-switching {
                port-mode access;
                vlan {
                    members {{ CN }}_{{vlans[0]['name']}};
                }
            }
        }
    }
{% endfor %}
}
