interfaces {
{% for item in ip_interfaces %}
    {{ item.name }} {
        unit {{ item.unit }} {
            description "{{ item.description }}";
            family inet {
                address {{ item.ip }}{{item.mask}};
                no-redirects;
            }
        }
    }
{% endfor %}
{% for item in vlans[:-2] if 'DN' in hostname  %}
    irb {
        unit {{ CN[2:] }}{{ item.id }} {
            description "layer 3 interface for vlan {{ CN }}_{{ item.name }} {{ CN[-1] }}{{ item.id}}"
            family inet {
                address 10.{{ CN[-1] }}.{{ item.id }}.1/24;
                no-redirects;
            }
        }
    }
{% endfor %}
{% set vlans = vlans[0:-2] %}
{% for item in trunk_ports %}
    {{ item.name }} {
        unit 0 {
            family ethernet-switching {
                native-vlan-id 999;
                interface-mode trunk;
                vlan {
                    members [ {% for vlan in vlans %}{{ CN }}_{{ vlan.name }}{% if (not loop.last) %} {% endif %} {% endfor %}];
                }
            }
        }
    }
{% endfor %}
{% for item in access_ports %}
    {{ item.name }} {
        unit 0 {
            family ethernet-switching {
                interface-mode access;
                vlan {
                    members {{ CN }}_{{vlans[0]['name']}};
                }
            }
        }
    }
{% endfor %}
}
