interfaces {
{% for item in interfaces %}
    {{ item.name }} {
        unit {{ item.unit }} {
            family inet {
                address {{ item.ip }} {{item.mask}} ;
                no-redirects;
                description {{ item.description }} ;
            }
        }
    }
{% endfor %}
}
