vlans {
{% for vlan in vlans %}
    {{ CN }}_{{ vlan.name }} {
        vlan-id {{ CN[-1] }}{{ vlan.id }};
        l3-interface irb.{{ CN[-1] }}{{ vlan.id }};
        description {{ CN }}_{{ vlan.description }}; 
    }
{% endfor %}
}